div {
  margin: auto;
  width: 50%;
}
p{
	color: rgb(14, 118, 198);
}
button{
	margin-left: 63px;
}
.r {
	margin-left: 53px;
}
.myAlert-top{
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
}
.myAlert-top2{
    position: fixed;
    top: 5px;
    left:2%;
    width: 96%;
}
.alert{
    display: none;
}